---
# defaults file for cloudwatch-monitoring

cloud_watch_monitoring_path: /opt
path: /
cron_specs:
- {
    name: "Cloudwatch monitoring",
    minute: "*/5",
    hour: "*",
    job: "{{ cloud_watch_monitoring_path }}/aws-scripts-mon/mon-put-instance-data.pl --mem-util --mem-used --mem-avail --swap-util --swap-used --disk-space-util --disk-path={{ path }} --disk-space-avail --from-cron --aws-access-key-id={{ cloudwatch_aws_key }} --aws-secret-key={{ cloudwatch_aws_secret_key }}"
  }
